<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>FLask API</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    {% for item in list_arr %}
          .box div:nth-child({{item['x']}}) div:nth-child({{item['y']}}) button {
        background-color: {{item['color']}}!important;
      }

    {% endfor %}

    {% if  turn == True %}
      .player-1 {
        background-color: #fff !important;
      }
    {% else %}
    .player-2 {
        background-color: #fff !important;
      }
    {% endif %}
  </style>
</head>

<body>
  <section class="h-[100vh] flex relative bg-[#1A1A1D]">
    <div class="max-w-[1400px] m-auto px-[50px]">
      <div class="mb-5 flex justify-between items-center">
        <div class="flex flex-col gap-1">
          <div class="flex gap-2 items-center text-white">
            <div class="player-1 w-8 h-8 flex justify-center items-center p-1  rounded-md">
              <svg fill="#BF2232" viewBox="0 0 24 30" version="1.1" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>game</title> <path d="M4.469 8.156v-2.25h2.25v2.25h-2.25zM15.688 5.906h2.219v2.25h-2.219v-2.25zM20.156 12.625v-4.469h2.25v8.969h-2.25v2.219h-2.25v2.25h2.25v2.25h2.25v2.219h-4.5v-2.219h-2.219v-2.25h-8.969v2.25h-2.25v2.219h-4.469v-2.219h2.25v-2.25h2.219v-2.25h-2.219v-2.219h-2.25v-8.969h2.25v4.469h2.219v-2.219h2.25v-2.25h2.25v2.25h4.469v-2.25h2.25v2.25h2.219v2.219h2.25zM8.969 14.875v-2.25h-2.25v2.25h2.25zM15.688 14.875v-2.25h-2.25v2.25h2.25z"></path> </g></svg>
            </div>
            <h1>Playre 1 : </h1>
            <span> {{score['1']}}</span>
          </div>
          <div class="flex gap-2 items-center text-white">
            <div class="player-2 w-8 h-8 flex justify-center items-center p-1  rounded-md">
              <svg fill="#950740" viewBox="0 0 24 30" version="1.1" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>game</title> <path d="M4.469 8.156v-2.25h2.25v2.25h-2.25zM15.688 5.906h2.219v2.25h-2.219v-2.25zM20.156 12.625v-4.469h2.25v8.969h-2.25v2.219h-2.25v2.25h2.25v2.25h2.25v2.219h-4.5v-2.219h-2.219v-2.25h-8.969v2.25h-2.25v2.219h-4.469v-2.219h2.25v-2.25h2.219v-2.25h-2.219v-2.219h-2.25v-8.969h2.25v4.469h2.219v-2.219h2.25v-2.25h2.25v2.25h4.469v-2.25h2.25v2.25h2.219v2.219h2.25zM8.969 14.875v-2.25h-2.25v2.25h2.25zM15.688 14.875v-2.25h-2.25v2.25h2.25z"></path> </g></svg>
            </div>
            <h1 class="min-w-fit ">Playre 2 : </h1>
            <span> {{score['2']}}</span>
          </div>
        </div>
        <div class="flex flex-col gap-1">
          <form action="/restart" method="post">
            <button type="submit" class="w-full bg-[#C3073F] hover:bg-[#BF2232] transition-all	duration-100 text-white font-bold py-1 px-4 rounded">
              Restart
            </button>  
        </form>
          <form action="/clear" method="post">
            <button type="submit" class="w-full bg-[#C3073F] hover:bg-[#BF2232] transition-all	duration-100 text-white font-bold py-1 px-4 rounded">
              Clear
            </button>
        </form>

        </div>
      </div>
      <div class="box grid grid-cols-7 gap-[5px] relative">
        {% for i in range(7) %}
        <div class="grid grid-rows-8 gap-[5px]">
          {% for j in range(7) %}
          <div class="relative">
            <div class="w-[40px] h-[40px] sm:w-[60px] sm:h-[60px]  md:w-[70px] md:h-[70px] bg-[#4E4E50] rounded-[10px] z-50	"></div>
            <form action="/" method="post" class="">
              <input type="text" name="x" value="{{i}}" hidden />
              <button type="submit" class="absolute top-[5px] left-[5px] w-[30px] h-[30px] sm:w-[50px] sm:h-[50px]
                md:w-[60px] md:h-[60px] rounded-full bg-[#1A1A1D] transition-all duration-300 ease-in-out"></button>
            </form>
          </div>
         
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
    {% if resulte is not false and resulte['win'] is not none %}
    <div class="absolute w-full h-full flex justify-center	items-center">
      <div class="absolute w-full h-full bg-black opacity-50"></div>
        <div
          class="pointer-events-none relative w-auto opacity-100 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:my-7 min-[576px]:max-w-[500px]">
          <div
            class="min-[576px]:shadow-[0_0.5rem_1rem_rgba(#000, 0.15)] pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-white bg-clip-padding text-current shadow-lg outline-none dark:bg-neutral-600">
            <div
              class="flex flex-shrink-0 items-center justify-between rounded-t-md border-b-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50">
              <h5 class="text-xl font-medium leading-normal text-neutral-800 dark:text-neutral-200">
                Game Ovre
              </h5>
            </div>
            <div class="relative flex-auto p-4">
              Winre is {{ resulte['win'] }}
            </div>
            <div
              class="flex flex-shrink-0 flex-wrap items-center justify-end rounded-b-md border-t-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50">
              <form action="/clear" method="post">
                <button type="submit"
                class="ml-1 inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs
                 font-medium uppercase leading-normal text-white ">
              Play Agine
            </button>              </form>
              
            </div>
        </div>
      </div>
    </div>
    {% endif %}

  </section>
</body>

</html>